#board {
    background: rgb(0, 0, 0);
    width: 700px;
    height: 700px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgb(0, 255, 0);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}